/* You can add global styles to this file, and also import other style files */

body {
  font-family: Verdana, 'Segoe UI', Tahoma, Geneva, sans-serif;
}

#container {
  max-width: 1000px;
  margin: 0 auto;
}